<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dylan.com.adoptapet" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SearchResults" android:screenOrientation="portrait" />

        <activity android:name=".PetResultDetail" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".FavoritesList" android:screenOrientation="portrait" />
        <activity android:name=".ShelterList" android:screenOrientation="portrait" />
        <activity android:name=".ShelterAnimalResults" android:screenOrientation="portrait"/>
        <activity android:name=".FullImageViewer" android:theme="@style/AppTheme.Black" android:screenOrientation="portrait" />
        <activity android:name=".AboutActivity" android:screenOrientation="portrait" />
    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Test without, image slider lib says used to cache -->

</manifest>
